.main{
  padding: 56px 0 92px;
}

@media (max-width: 1024px){
  .main{
    padding: 48px 0 92px;
  }
}

@media (max-width: 768px){
  .main{
    padding: 48px 0 88px;
  }
}

@media (max-width: 425px){
  .main{
    padding: 48px 0 64px;
  }
}