@font-face {
  font-family: 'Inter';
  src: url('./Inter.eot');
  src: url('./Inter.eot?#iefix') format('embedded-opentype'),
       url('./Inter.woff2') format('woff2'),
       url('./Inter.woff') format('woff'),
       url('./Inter.ttf') format('truetype'),
       url('./Inter.svg#Inter') format('svg');
  font-weight: normal;
  font-style: normal;
}