.footer__copyright{
  font-family: "Inter", "Arial", serif;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  color: #fff;
  margin: 0;
  justify-self: end;
  align-self: end;
}

@media (max-width: 680px){
  .footer__copyright{
    padding-top: 48px;
  }
}