.lead__caption{
  font-family: "Inter", serif;
  font-weight: normal;
  color: #fff;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 0;
  padding-top: 8px;
}
