.place{
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 524px);
  grid-template-rows: repeat(2, auto);
  padding-bottom: 80px;
}

@media (max-width: 1024px){
  .place{
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 424px);
  }
}

@media (max-width: 768px){
  .place{
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 324px);
    padding-bottom: 72px;
  }
}