.place__url-heading{
  font-family: "Inter", "Arial", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color:#aaa;
  margin: 0;
  padding-bottom: 12px;
  letter-spacing: 0.2em;
}